In [170]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.cluster import KMeans
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn import datasets

In [50]:
iris=datasets.load_iris()

In [51]:
dir(iris)

['DESCR', 'data', 'feature_names', 'filename', 'target', 'target_names']

In [52]:
df=pd.DataFrame(iris.data,columns=iris.feature_names)

In [53]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [54]:
df['flower']=iris.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [55]:
df['names']=df["flower"].apply(lambda x: iris.target_names[x])

In [56]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower,names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [59]:
Xtrain,Xtest,ytrain,ytest=train_test_split(iris.data,iris.target,test_size=0.3)

In [73]:
model=SVC(kernel='rbf',C=30,gamma='auto')

In [76]:
model.fit(Xtrain,ytrain)
model.score(Xtest,ytest) #here score is vary based on train test, therefore cannot rely on this.
# Therefore ,we will use Kcross validation

0.9333333333333333

In [83]:
#wE WILL do cross valdation with different parameters
cross_val_score(SVC(kernel='linear',C=10,gamma='auto'),Xtrain,ytrain,cv=5)

array([0.95238095, 1.        , 0.95238095, 1.        , 0.95238095])

In [86]:
cross_val_score(SVC(kernel='sigmoid',C=20,gamma='auto'),Xtrain,ytrain,cv=5)

array([0.23809524, 0.19047619, 0.33333333, 0.33333333, 0.33333333])

In [85]:
cross_val_score(SVC(kernel='rbf',C=30,gamma='auto'),Xtrain,ytrain,cv=5)

array([0.95238095, 1.        , 0.95238095, 1.        , 0.95238095])

In [119]:
# #Problem with above approach is that we have to write each line with for different parameter.
# #Solution is to write for loopm
# list=["linear",'sigmoid','rbf']
# cv=[10,20,30]
# for par in list:
#     for c in cv:
#         print(f"kval:{par}  Cvalue:{c}")
#         print(cross_val_score(SVC(kernel=par,C=c,gamma='auto'),Xtrain,ytrain,cv=5))
#         print("")
#=====same as below=====
#Problem with above approach is that we have to write each line with for different parameter.
#Solution is to write for loopm
list=["linear",'sigmoid','rbf']
cv=[10,20,30]
avg_score={}
for par in list:
    for c in cv:
        score=(cross_val_score(SVC(kernel=par,C=c,gamma='auto'),Xtrain,ytrain,cv=5))
        avg_score[par + "_" +str(c)]=np.average(score) #assign to dictionary, keys=data

In [120]:
avg_score

{'linear_10': 0.980952380952381,
 'linear_20': 0.9619047619047618,
 'linear_30': 0.9619047619047618,
 'sigmoid_10': 0.2857142857142857,
 'sigmoid_20': 0.2857142857142857,
 'sigmoid_30': 0.2857142857142857,
 'rbf_10': 0.980952380952381,
 'rbf_20': 0.980952380952381,
 'rbf_30': 0.9714285714285713}

In [121]:
#Above approach also has many problem because of loop.
#Therefore we will use GridSreachCV which will do the same above thing

In [125]:
from sklearn.model_selection import GridSearchCV

In [162]:
#dictionary is different paramter=keys and therir required values =data
# class sklearn.model_selection.GridSearchCV(estimator, param_grid, *, scoring=None, n_jobs=None, 
# iid='deprecated', refit=True, cv=None, verbose=0, pre_dispatch='2*n_jobs', error_score=nan, return_train_score=False)
clf=GridSearchCV(SVC(gamma='auto'),{
    'C':[10,20,30],
    'kernel':["rbf","linear","sigmoid"]  
},cv=10,return_train_score=False)

In [163]:
clf.fit(iris.data,iris.target)

GridSearchCV(cv=10, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='auto', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [10, 20, 30],
                         'kernel': ['rbf', 'linear', 'sigmoid']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [164]:
#cls is ready , now we can check differnt parameters of our results
clf.cv_results_  #result of classifier based on our conditions

{'mean_fit_time': array([0.00120027, 0.00079997, 0.00240018, 0.00080009, 0.00079994,
        0.0012001 , 0.00080006, 0.        , 0.00119998]),
 'std_fit_time': array([0.00183344, 0.00159993, 0.00195974, 0.00160017, 0.00159988,
        0.00183319, 0.00160012, 0.        , 0.00183301]),
 'mean_score_time': array([0.00040002, 0.00080001, 0.00039999, 0.00040002, 0.00040009,
        0.00040011, 0.00039992, 0.00040002, 0.00039997]),
 'std_score_time': array([0.00120006, 0.00160003, 0.00119998, 0.00120006, 0.00120027,
        0.00120034, 0.00119977, 0.00120006, 0.00119991]),
 'param_C': masked_array(data=[10, 10, 10, 20, 20, 20, 30, 30, 30],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'sigmoid', 'rbf', 'linear', 'sigmoid',
                    'rbf', 'linear', 'sigmoid'],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'sigmoid'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'sigmoid'},
  {'C': 30, 'kernel': 'rbf'},
  {'C': 30, 'kernel': 'linear'},
  {'C': 30, 'kernel': 'sigmoid'}],
 'split0_test_score': array([1., 1., 0., 1., 1., 0., 1., 1., 0.]),
 'split1_test_score': array([0.93333333, 1.        , 0.33333333, 0.93333333, 1.        ,
        0.33333333, 0.93333333, 1.        , 0.33333333]),
 'split2_test_score': array([1.        , 1.        , 0.06666667, 1.        , 1.        ,
        0.06666667, 1.        , 1.        , 0.06666667]),
 'split3_test_score': array([1.        , 1.        , 0.13333333, 1.        , 1.        ,
        0.13333333, 1.        , 1.        , 0.13333333]),
 'split4_test_score': array([0.86666667, 0.86666667, 0.        , 0.86666667, 0.86666667,
        0.        , 0.86666667, 0.86666667, 0.        ]),
 'split5_test_score': array([1.        , 1.        , 0.        , 0.93333333, 0.93333333,
        0.        , 0.93333333, 0.93333333, 0.        ]),
 'split6_test_score': array([0.93333333, 0.93333333, 0.06666667, 0.93333333, 0.86666667,
        0.06666667, 0.86666667, 0.86666667, 0.06666667]),
 'split7_test_score': array([1., 1., 0., 1., 1., 0., 1., 1., 0.]),
 'split8_test_score': array([1., 1., 0., 1., 1., 0., 1., 1., 0.]),
 'split9_test_score': array([1., 1., 0., 1., 1., 0., 1., 1., 0.]),
 'mean_test_score': array([0.97333333, 0.98      , 0.06      , 0.96666667, 0.96666667,
        0.06      , 0.96      , 0.96666667, 0.06      ]),
 'std_test_score': array([0.04422166, 0.04268749, 0.10088497, 0.04472136, 0.05374838,
        0.10088497, 0.05333333, 0.05374838, 0.10088497]),
 'rank_test_score': array([2, 1, 7, 3, 3, 7, 6, 3, 7])}

In [165]:
results=pd.DataFrame(clf.cv_results_ ) #Converting the results in dataframe
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.0012,0.001833,0.0004,0.0012,10,rbf,"{'C': 10, 'kernel': 'rbf'}",1.0,0.933333,1.000000,1.000000,0.866667,1.000000,0.933333,1.0,1.0,1.0,0.973333,0.044222,2
1,0.0008,0.001600,0.0008,0.0016,10,linear,"{'C': 10, 'kernel': 'linear'}",1.0,1.000000,1.000000,1.000000,0.866667,1.000000,0.933333,1.0,1.0,1.0,0.980000,0.042687,1
2,0.0024,0.001960,0.0004,0.0012,10,sigmoid,"{'C': 10, 'kernel': 'sigmoid'}",0.0,0.333333,0.066667,0.133333,0.000000,0.000000,0.066667,0.0,0.0,0.0,0.060000,0.100885,7
3,0.0008,0.001600,0.0004,0.0012,20,rbf,"{'C': 20, 'kernel': 'rbf'}",1.0,0.933333,1.000000,1.000000,0.866667,0.933333,0.933333,1.0,1.0,1.0,0.966667,0.044721,3
4,0.0008,0.001600,0.0004,0.0012,20,linear,"{'C': 20, 'kernel': 'linear'}",1.0,1.000000,1.000000,1.000000,0.866667,0.933333,0.866667,1.0,1.0,1.0,0.966667,0.053748,3
5,0.0012,0.001833,0.0004,0.0012,20,sigmoid,"{'C': 20, 'kernel': 'sigmoid'}",0.0,0.333333,0.066667,0.133333,0.000000,0.000000,0.066667,0.0,0.0,0.0,0.060000,0.100885,7
6,0.0008,0.001600,0.0004,0.0012,30,rbf,"{'C': 30, 'kernel': 'rbf'}",1.0,0.933333,1.000000,1.000000,0.866667,0.933333,0.866667,1.0,1.0,1.0,0.960000,0.053333,6
7,0.0000,0.000000,0.0004,0.0012,30,linear,"{'C': 30, 'kernel': 'linear'}",1.0,1.000000,1.000000,1.000000,0.866667,0.933333,0.866667,1.0,1.0,1.0,0.966667,0.053748,3
8,0.0012,0.001833,0.0004,0.0012,30,sigmoid,"{'C': 30, 'kernel': 'sigmoid'}",0.0,0.333333,0.066667,0.133333,0.000000,0.000000,0.066667,0.0,0.0,0.0,0.060000,0.100885,7

In [166]:
results[["param_C","param_kernel","mean_test_score"]] #Only three cloumns are important,therfore seeing it

  param_C param_kernel  mean_test_score
0      10          rbf         0.973333
1      10       linear         0.980000
2      10      sigmoid         0.060000
3      20          rbf         0.966667
4      20       linear         0.966667
5      20      sigmoid         0.060000
6      30          rbf         0.960000
7      30       linear         0.966667
8      30      sigmoid         0.060000

In [167]:
#We can check other results parameter as well

In [168]:
dir(clf)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_is_fitted',
 '_estimator_type',
 '_format_results',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_pairwise',
 '_required_parameters',
 '_run_search',
 'best_estimator_',
 'best_index_',
 'best_params_',
 'best_score_',
 'classes_',
 'cv',
 'cv_results_',
 'decision_function',
 'error_score',
 'estimator',
 'fit',
 'get_params',
 'iid',
 'inverse_transform',
 'multimetric_',
 'n_jobs',
 'n_splits_',
 'param_grid',
 'pre_dispatch',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'refit',
 'refit_time_',
 'return_train_score',
 'score',
 'scorer_',
 'scoring',
 'set_params',
 'transform',
 'verbose']

In [169]:
clf.best_params_

{'C': 10, 'kernel': 'linear'}

In [161]:
clf.best_score_

0.9800000000000001

In [195]:
#look quite similar as above but n_iter is different
rclf=RandomizedSearchCV(SVC(gamma='auto'),{
    'C':[10,20,30],
    'kernel':["rbf","linear","sigmoid"]  
},cv=10,return_train_score=False,n_iter=2)

In [196]:
rclf.fit(iris.data,iris.target)
rclf.cv_results_
df=pd.DataFrame(rclf.cv_results_)

In [197]:
df  #it randomly select C and kernel combinations

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_kernel,param_C,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001903,0.000539,0.0004,0.00049,sigmoid,10,"{'kernel': 'sigmoid', 'C': 10}",0.0,0.333333,0.066667,0.133333,0.000000,0.000000,0.066667,0.0,0.0,0.0,0.06,0.100885,2
1,0.000300,0.000459,0.0005,0.00050,rbf,30,"{'kernel': 'rbf', 'C': 30}",1.0,0.933333,1.000000,1.000000,0.866667,0.933333,0.866667,1.0,1.0,1.0,0.96,0.053333,1

In [210]:
#Above  code is GridSearchCV for one model .
#To select best model, we will do the follwing.define dictionary of models
model_params={
    'svm': {
     'model':SVC(gamma='auto'),
    'params':{
    'C':[1,10,20],
    'kernel':["rbf","linear","sigmoid"]
    }
    },
   'random_forest':{
    'model':RandomForestClassifier(),
    'params':{
 'n_estimators':[1,5,10],
    }
    },
    'logisticregression':{
    'model':LogisticRegression(solver='liblinear',multi_class='auto'),
    'params':{
     'C':[1,5,10],
    }
    },
    }

In [213]:
scores=[]
for model_name,mp in model_params.items():
    clf=GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=False)
    clf.fit(iris.data,iris.target)
    scores.append({
       'model':model_name,
        'best_score':clf.best_score_,
        'best_params':clf.best_params_
         })

In [214]:
df=pd.DataFrame(scores,columns=["model","best_score","best_params"])

In [216]:
df

                model  best_score                best_params
0                 svm    0.980000  {'C': 1, 'kernel': 'rbf'}
1       random_forest    0.960000       {'n_estimators': 10}
2  logisticregression    0.966667                   {'C': 5}