In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [16]:
irisdf=sns.load_dataset("iris")
irisdf

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [21]:
X=irisdf.drop("species", axis=1)

In [28]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,irisdf["species"],test_size=0.1)

In [29]:
Xtest

     sepal_length  sepal_width  petal_length  petal_width
103           6.3          2.9           5.6          1.8
109           7.2          3.6           6.1          2.5
91            6.1          3.0           4.6          1.4
11            4.8          3.4           1.6          0.2
122           7.7          2.8           6.7          2.0
131           7.9          3.8           6.4          2.0
111           6.4          2.7           5.3          1.9
114           5.8          2.8           5.1          2.4
83            6.0          2.7           5.1          1.6
16            5.4          3.9           1.3          0.4
135           7.7          3.0           6.1          2.3
39            5.1          3.4           1.5          0.2
75            6.6          3.0           4.4          1.4
149           5.9          3.0           5.1          1.8
78            6.0          2.9           4.5          1.5