In [1]:
import pandas as pd
import numpy as np

In [10]:
data1={
    "City":["Lahore","Karachi","Italy"],
    "Temp":[34,22,65],
   
}
data2={
    "City":["Karachi","Lahore","Italy"],
    "Humidity":[19,300,21],
}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)

In [23]:
print(f"{df1} \n {df2}")

      City  Temp
0   Lahore    34
1  Karachi    22
2    Italy    65
       City  Humidity
0  Karachi        19
1   Lahore       300
2    Italy        21

In [17]:
f=pd.merge(df1,df2, on="City") 
f
#Below we can see output is acurate even seq is change in original datafrace

      City  Temp  Humidity
0   Lahore    34       300
1  Karachi    22        19
2    Italy    65        21

In [26]:
data1={
    "City":["Lahore","Karachi","Italy"],
    "Temp":[34,22,65],
   
}
data2={
    "City":["Karachi","Lahore","Italy","Nepal"],
    "Humidity":[19,300,21,89],
}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)

In [29]:
f=pd.merge(df1,df2, on="City") #by defaul, it showing intersection two dataframe
f

      City  Temp  Humidity
0   Lahore    34       300
1  Karachi    22        19
2    Italy    65        21

In [28]:
f=pd.merge(df1,df2, on="City", how="outer") #Outer is union of two dataframe, left,right are other parameters.

      City  Temp  Humidity
0   Lahore  34.0       300
1  Karachi  22.0        19
2    Italy  65.0        21
3    Nepal   NaN        89

In [31]:
f=pd.merge(df1,df2, on="City", how="outer", indicator=True) # Will show from where columns come from

      City  Temp  Humidity      _merge
0   Lahore  34.0       300        both
1  Karachi  22.0        19        both
2    Italy  65.0        21        both
3    Nepal   NaN        89  right_only