In [27]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [28]:
df=pd.read_excel("housepricing.xlsx", Sheet="Book1")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [29]:
a=df.bedrooms.median()

In [30]:
df.bedrooms.fillna(a)
df.bedrooms=df.bedrooms.fillna(a)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [31]:
reg=linear_model.LinearRegression()

In [32]:
reg.fit(df[['area','bedrooms','age']], df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [34]:
reg.intercept_

221323.00186540408