## This is Heading##

In [6]:
name=[1,2,3,54],[2,3,5.]

In [7]:
print(name)

([1, 2, 3, 54], [2, 3, 5])

In [96]:
m=np.mean(array)

In [97]:
print(m
     )

-0.08600427223569307

In [98]:
array=np.random.randn(40,40)

In [99]:
print(array)

[[-0.34913738  0.32663702  1.32069088 ...  1.39445385  0.49786473
   0.87651994]
 [ 0.82227906 -0.53919501  0.04999517 ... -0.11699129  1.22572079
  -1.9652504 ]
 [-0.20250995 -0.39454813 -0.02826193 ... -1.07954511  0.43755315
  -0.70284488]
 ...
 [-1.56909459  1.75860744 -0.07980739 ... -0.0613274   0.93125687
   0.06175419]
 [ 0.51113977 -1.11618408 -1.32415458 ... -1.65066819  0.71950019
  -0.82028373]
 [ 0.67554925  0.0376638   0.43847049 ...  1.25187494  2.41117082
   0.27756008]]

In [101]:
m=np.mean(array)

In [102]:
print(m)

-0.012165283550012078

In [103]:
array=np.random.randn(20)

In [104]:
print(array
     )

[ 0.63280088 -0.41072308 -1.17352973  1.04451933 -0.12023567 -0.01678508
 -0.07469519  0.39309063 -0.13306933  1.58347434  1.23216607  0.47084115
  0.02441124  0.27255739 -0.78834724 -1.32467022  0.35298525  0.70159714
  2.26683896  1.12580518]

In [109]:
type(array)

numpy.ndarray

In [113]:
array=array.reshape(2,10)

In [119]:
array=array.reshape(1,20)

In [120]:
array.shape

(1, 20)

In [121]:
array=np.random.randn(40)

In [122]:
array.shape

(40,)

In [123]:
array=array.reshape(2,20)

In [124]:
array.shape

(2, 20)

In [125]:
array=array.reshape(40)

In [126]:
array.shape

(40,)

In [127]:
array=array.reshape(4,10)

In [128]:
print(array)

[[-0.48186453  0.2557678   0.28522709  0.41035575 -1.21211858 -1.02151013
   0.58472007  1.21222014 -1.33581091  1.86047458]
 [-0.8535661  -0.93629004  0.00466142  0.24328694 -1.82528122 -0.707184
  -0.47281172  0.56177743  1.12918542  0.09183466]
 [-0.71361242 -1.5763424  -0.50856285 -0.49391902  1.73275816  0.8085193
   0.71692011  1.11294992 -0.42538322  0.52725753]
 [-0.45633412 -1.65378215 -0.25764679  0.11856995 -0.85830066 -0.29973713
   1.7328816   0.47967919 -0.27041782  0.39687952]]

In [131]:
array=np.arange(1,8)

In [132]:
print(array)

[1 2 3 4 5 6 7]

In [137]:
array.shape

(7,)

In [140]:
array=np.arange(1,11)

In [141]:
print(array)

[ 1  2  3  4  5  6  7  8  9 10]

In [150]:
array=array.reshape(-1,-1)

In [151]:
print(array )

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [154]:
np.random.seed(123)
array=np.random.randint(1,101,10)

In [155]:
print(array)

[67 93 99 18 84 58 87 98 97 48]

In [156]:
array.size

10

In [169]:
array=np.random.randint(1,100,10
                       )

In [170]:
array.size

10

In [173]:
array=array.reshape(2,5)

In [174]:
print(array)

[[78 19 16 28 31]
 [53 71 27 81  7]]

In [175]:
array.size

10

In [176]:
print(array)

[[78 19 16 28 31]
 [53 71 27 81  7]]

In [180]:
print(array[1])

[53 71 27 81  7]

In [183]:
array[0]

array([78, 19, 16, 28, 31])

In [185]:
array[0,1]

19

In [187]:
array[0:3,1]

array([19, 71])

In [188]:
array=np.arange(1,20)

In [189]:
array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19])

In [195]:
array[2:3]

array([3])

In [208]:
array[:-5]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [210]:
matrix=np.arange(1,4)

In [211]:
print(matrix)

[1 2 3]

In [219]:
array=np.array([[1,2,3],[4,5,6],[7,8,9]})

SyntaxError: invalid syntax (<ipython-input-219-a6087bd8e1a1>, line 1)

In [220]:
print(array
     )

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [221]:
matrix=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [226]:
print(matrix)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [228]:
matrix[0,1]

2

In [231]:
matrix[:2]

array([[1, 2, 3],
       [4, 5, 6]])

In [233]:
matrix[:2, :2]

array([[1, 2],
       [4, 5]])

In [237]:
matrix[1:, 1:]

array([[5, 6],
       [8, 9]])

In [238]:
print(matrix)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [240]:
matrix[:2, :2]

array([[1, 2],
       [4, 5]])

In [241]:
matrix[1:,1:]

array([[5, 6],
       [8, 9]])

In [242]:
matrix[1:,0:2]

array([[4, 5],
       [7, 8]])

In [247]:
matrix[0:2,0:2]

array([[1, 2],
       [4, 5]])

In [246]:
print(matrix
     )

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [248]:
matrix[0:2,1:]

array([[2, 3],
       [5, 6]])

In [29]:
np.random.seed(123)
matrix2=np.random.randint(1,101,25)

In [30]:
print(matrix2)

[67 93 99 18 84 58 87 98 97 48 74 33 47 97 26 84 79 37 97 81 69 50 56 68
  3]

In [33]:
matrix=np.array([[1,2,3],[4,5,6],[6,85]])

In [34]:
matrix

array([list([1, 2, 3]), list([4, 5, 6]), list([6, 85])], dtype=object)

In [35]:
matrix.shape

(3,)

In [36]:
type(matrix)

numpy.ndarray

In [39]:
np.random.seed(123)
matrix1=np.random.randint(1,12,9)

In [40]:
matrix1=matrix1.reshape(3,3)

In [41]:
matrix1

array([[ 3,  3,  7],
       [ 2,  4, 11],
       [10,  7,  2]])

In [42]:
matrix.shape

(3,)

In [46]:
matrix2=np.random.randint(4,88,9)

In [47]:
matrix2=matrix2.reshape(3,3)

In [48]:
matrix2

array([[84, 72, 53],
       [59, 71,  6],
       [43, 70, 51]])

mul=matrix2*matrix1

In [51]:
matrix1

array([[ 3,  3,  7],
       [ 2,  4, 11],
       [10,  7,  2]])

In [52]:
matrix2

array([[84, 72, 53],
       [59, 71,  6],
       [43, 70, 51]])

matrix1*matrix2

In [54]:
matrix1 * matrix2

array([[252, 216, 371],
       [118, 284,  66],
       [430, 490, 102]])

In [55]:
matrix1.dot(matrix2)

array([[ 730,  919,  534],
       [ 877, 1198,  691],
       [1339, 1357,  674]])

In [57]:
np.min(matrix1)

2

In [58]:
np.max(matrix1)

11

In [59]:
np.argmin(matrix1)

3

In [60]:
np.argmax(matrix1)

5

In [61]:
matrix

array([list([1, 2, 3]), list([4, 5, 6]), list([6, 85])], dtype=object)

In [62]:
np.exp(matrix1)

array([[2.00855369e+01, 2.00855369e+01, 1.09663316e+03],
       [7.38905610e+00, 5.45981500e+01, 5.98741417e+04],
       [2.20264658e+04, 1.09663316e+03, 7.38905610e+00]])

In [63]:
np.sin(100)

-0.5063656411097588

In [64]:
np.cos(0
      )

1.0

In [67]:
m=np.linspace(1,5,100)

In [68]:
print(m)

[1.         1.04040404 1.08080808 1.12121212 1.16161616 1.2020202
 1.24242424 1.28282828 1.32323232 1.36363636 1.4040404  1.44444444
 1.48484848 1.52525253 1.56565657 1.60606061 1.64646465 1.68686869
 1.72727273 1.76767677 1.80808081 1.84848485 1.88888889 1.92929293
 1.96969697 2.01010101 2.05050505 2.09090909 2.13131313 2.17171717
 2.21212121 2.25252525 2.29292929 2.33333333 2.37373737 2.41414141
 2.45454545 2.49494949 2.53535354 2.57575758 2.61616162 2.65656566
 2.6969697  2.73737374 2.77777778 2.81818182 2.85858586 2.8989899
 2.93939394 2.97979798 3.02020202 3.06060606 3.1010101  3.14141414
 3.18181818 3.22222222 3.26262626 3.3030303  3.34343434 3.38383838
 3.42424242 3.46464646 3.50505051 3.54545455 3.58585859 3.62626263
 3.66666667 3.70707071 3.74747475 3.78787879 3.82828283 3.86868687
 3.90909091 3.94949495 3.98989899 4.03030303 4.07070707 4.11111111
 4.15151515 4.19191919 4.23232323 4.27272727 4.31313131 4.35353535
 4.39393939 4.43434343 4.47474747 4.51515152 4.55555556 4.5959596
 4.63636364 4.67676768 4.71717172 4.75757576 4.7979798  4.83838384
 4.87878788 4.91919192 4.95959596 5.        ]

In [70]:
matrix1

array([[ 3,  3,  7],
       [ 2,  4, 11],
       [10,  7,  2]])

In [71]:
matrix1.dtype='bool'

In [72]:
matrix1

array([[ True, False, False, False,  True, False, False, False,  True,
        False, False, False],
       [ True, False, False, False,  True, False, False, False,  True,
        False, False, False],
       [ True, False, False, False,  True, False, False, False,  True,
        False, False, False]])

In [73]:
np.random.seed(123)
matrix=np.random.randint(1,11,9)

In [74]:
matrix=matrix.reshape(3,3
                     )

In [75]:
matrix

array([[ 3,  3,  7],
       [ 2,  4, 10],
       [ 7,  2,  1]])

In [77]:
np.sum(matrix)

39

In [78]:
np.min(matrix, axis=1)

array([3, 2, 1])

In [79]:
np.sum(matrix, axis=1)

array([13, 16, 10])

In [80]:
np.sum(matrix)

39

In [81]:
np.cumsum(matrix)

array([ 3,  6, 13, 15, 19, 29, 36, 38, 39], dtype=int32)

In [82]:
np.cumsum(matrix, axis=1)

array([[ 3,  6, 13],
       [ 2,  6, 16],
       [ 7,  9, 10]], dtype=int32)

In [83]:
matrix

array([[ 3,  3,  7],
       [ 2,  4, 10],
       [ 7,  2,  1]])

In [84]:
np.cumsum(matrix, axis=0)

array([[ 3,  3,  7],
       [ 5,  7, 17],
       [12,  9, 18]], dtype=int32)

In [85]:
np.product(matrix, axis=0)

array([42, 24, 70])

In [86]:
matrix

array([[ 3,  3,  7],
       [ 2,  4, 10],
       [ 7,  2,  1]])

In [87]:
np.random.shuffle(array)

In [88]:
array

array([ 7, 24,  7, 12, 18,  5,  1, 28,  3, 12, 22])

In [89]:
array

array([ 7, 24,  7, 12, 18,  5,  1, 28,  3, 12, 22])

In [90]:
matrix

array([[ 3,  3,  7],
       [ 2,  4, 10],
       [ 7,  2,  1]])

In [91]:
np.random.shuffle(matrix)

In [92]:
matrix

array([[ 2,  4, 10],
       [ 7,  2,  1],
       [ 3,  3,  7]])

In [93]:
np.unique(matrix)

array([ 1,  2,  3,  4,  7, 10])

In [94]:
np.unique(array).size

9

In [96]:
np.unique(matrix)

array([ 1,  2,  3,  4,  7, 10])

In [97]:
np.unique(matrix, return_index=True, return_counts=True)

(array([ 1,  2,  3,  4,  7, 10]),
 array([5, 0, 6, 1, 3, 2], dtype=int64),
 array([1, 2, 2, 1, 2, 1], dtype=int64))

In [98]:
matrix

array([[ 2,  4, 10],
       [ 7,  2,  1],
       [ 3,  3,  7]])

In [99]:
np.random.seed(123)

In [100]:
np.random.seed(123)
np.random.randint(1,99,9).reshape(3,3)

array([[67, 93, 18],
       [84, 58, 87],
       [98, 97, 48]])

In [101]:
np.random.seed(123)
matrix1=np.random.randint(1,99,9).reshape(3,3)
matrix2=np.random.randint(1,44,9).reshape(3,3)

In [102]:
matrix1

array([[67, 93, 18],
       [84, 58, 87],
       [98, 97, 48]])

In [103]:
matrix2

array([[10, 33, 33],
       [26, 20, 15],
       [37, 33, 17]])

In [104]:
np.hstack((matrix1,matrix2))

array([[67, 93, 18, 10, 33, 33],
       [84, 58, 87, 26, 20, 15],
       [98, 97, 48, 37, 33, 17]])

In [105]:
np.vstack((matrix1,matrix2))

array([[67, 93, 18],
       [84, 58, 87],
       [98, 97, 48],
       [10, 33, 33],
       [26, 20, 15],
       [37, 33, 17]])

In [106]:
movies_data=pd.read_csv("imdb_5000_movies.csv
                        ")

SyntaxError: EOL while scanning string literal (<ipython-input-106-3576977933c8>, line 1)

In [107]:
import pandas as pd

In [191]:
print(movies_data)

         budget                                             genres  \
0     237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1     300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2     245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3     250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4     260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
...         ...                                                ...
4798     220000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799       9000  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800          0  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801          0                                                 []
4802          0                [{"id": 99, "name": "Documentary"}]

                                               homepage      id  \
0                           http://www.avatarmovie.com/   19995
1          http://disney.go.com/disneypictures/pirates/     285
2           http://www.sonypictures.com/movies/spectre/  206647
3                    http://www.thedarkknightrises.com/   49026
4                  http://movies.disney.com/john-carter   49529
...                                                 ...     ...
4798                                                NaN    9367
4799                                                NaN   72766
4800  http://www.hallmarkchannel.com/signedsealeddel...  231617
4801                        http://shanghaicalling.com/  126186
4802                                                NaN   25975

                                               keywords original_language  \
0     [{"id": 1463, "name": "culture clash"}, {"id":...                en
1     [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2     [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3     [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4     [{"id": 818, "name": "based on novel"}, {"id":...                en
...                                                 ...               ...
4798  [{"id": 5616, "name": "united states\u2013mexi...                es
4799                                                 []                en
4800  [{"id": 248, "name": "date"}, {"id": 699, "nam...                en
4801                                                 []                en
4802  [{"id": 1523, "name": "obsession"}, {"id": 224...                en

                                original_title  \
0                                       Avatar
1     Pirates of the Caribbean: At World's End
2                                      Spectre
3                        The Dark Knight Rises
4                                  John Carter
...                                        ...
4798                               El Mariachi
4799                                 Newlyweds
4800                 Signed, Sealed, Delivered
4801                          Shanghai Calling
4802                         My Date with Drew

                                               overview  popularity  \
0     In the 22nd century, a paraplegic Marine is di...  150.437577
1     Captain Barbossa, long believed to be dead, ha...  139.082615
2     A cryptic message from Bond’s past sends him o...  107.376788
3     Following the death of District Attorney Harve...  112.312950
4     John Carter is a war-weary, former military ca...   43.926995
...                                                 ...         ...
4798  El Mariachi just wants to play his guitar and ...   14.269792
4799  A newlywed couple's honeymoon is upended by th...    0.642552
4800  "Signed, Sealed, Delivered" introduces a dedic...    1.444476
4801  When ambitious New York attorney Sam is sent t...    0.857008
4802  Ever since the second grade when he first saw ...    1.929883

                                   production_companies  \
0     [{"name": "Ingenious Film Partners", "id": 289...
1     [{"name": "Walt Disney Pictures", "id": 2}, {"...
2     [{"name": "Columbia Pictures", "id": 5}, {"nam...
3     [{"name": "Legendary Pictures", "id": 923}, {"...
4           [{"name": "Walt Disney Pictures", "id": 2}]
...                                                 ...
4798           [{"name": "Columbia Pictures", "id": 5}]
4799                                                 []
4800  [{"name": "Front Street Pictures", "id": 3958}...
4801                                                 []
4802  [{"name": "rusty bear entertainment", "id": 87...

                                   production_countries release_date  \
0     [{"iso_3166_1": "US", "name": "United States o...   2009-12-10
1     [{"iso_3166_1": "US", "name": "United States o...   2007-05-19
2     [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26
3     [{"iso_3166_1": "US", "name": "United States o...   2012-07-16
4     [{"iso_3166_1": "US", "name": "United States o...   2012-03-07
...                                                 ...          ...
4798  [{"iso_3166_1": "MX", "name": "Mexico"}, {"iso...   1992-09-04
4799                                                 []   2011-12-26
4800  [{"iso_3166_1": "US", "name": "United States o...   2013-10-13
4801  [{"iso_3166_1": "US", "name": "United States o...   2012-05-03
4802  [{"iso_3166_1": "US", "name": "United States o...   2005-08-05

         revenue  runtime                                   spoken_languages  \
0     2787965087    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
1      961000000    169.0           [{"iso_639_1": "en", "name": "English"}]
2      880674609    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...
3     1084939099    165.0           [{"iso_639_1": "en", "name": "English"}]
4      284139100    132.0           [{"iso_639_1": "en", "name": "English"}]
...          ...      ...                                                ...
4798     2040920     81.0      [{"iso_639_1": "es", "name": "Espa\u00f1ol"}]
4799           0     85.0                                                 []
4800           0    120.0           [{"iso_639_1": "en", "name": "English"}]
4801           0     98.0           [{"iso_639_1": "en", "name": "English"}]
4802           0     90.0           [{"iso_639_1": "en", "name": "English"}]

        status                                            tagline  \
0     Released                        Enter the World of Pandora.
1     Released     At the end of the world, the adventure begins.
2     Released                              A Plan No One Escapes
3     Released                                    The Legend Ends
4     Released               Lost in our world, found in another.
...        ...                                                ...
4798  Released  He didn't come looking for trouble, but troubl...
4799  Released  A newlywed couple's honeymoon is upended by th...
4800  Released                                                NaN
4801  Released                           A New Yorker in Shanghai
4802  Released                                                NaN

                                         title  vote_average  vote_count
0                                       Avatar           7.2       11800
1     Pirates of the Caribbean: At World's End           6.9        4500
2                                      Spectre           6.3        4466
3                        The Dark Knight Rises           7.6        9106
4                                  John Carter           6.1        2124
...                                        ...           ...         ...
4798                               El Mariachi           6.6         238
4799                                 Newlyweds           5.9           5
4800                 Signed, Sealed, Delivered           7.0           6
4801                          Shanghai Calling           5.7           7
4802                         My Date with Drew           6.3          16

[4803 rows x 20 columns]

In [111]:
type(movies_data)

pandas.core.frame.DataFrame

In [117]:
np.movies_data(1,44)

AttributeError: module 'numpy' has no attribute 'movies_data'

In [118]:
np.shuffle(movies_data)

AttributeError: module 'numpy' has no attribute 'shuffle'

In [119]:
matrix

array([[ 2,  4, 10],
       [ 7,  2,  1],
       [ 3,  3,  7]])

In [121]:
movies_data.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [122]:
movies_data.index

RangeIndex(start=0, stop=4803, step=1)

In [123]:
movies_data.head

<bound method NDFrame.head of          budget                                             genres  \
0     237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1     300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2     245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3     250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4     260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
...         ...                                                ...
4798     220000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799       9000  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800          0  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801          0                                                 []
4802          0                [{"id": 99, "name": "Documentary"}]

                                               homepage      id  \
0                           http://www.avatarmovie.com/   19995
1          http://disney.go.com/disneypictures/pirates/     285
2           http://www.sonypictures.com/movies/spectre/  206647
3                    http://www.thedarkknightrises.com/   49026
4                  http://movies.disney.com/john-carter   49529
...                                                 ...     ...
4798                                                NaN    9367
4799                                                NaN   72766
4800  http://www.hallmarkchannel.com/signedsealeddel...  231617
4801                        http://shanghaicalling.com/  126186
4802                                                NaN   25975

                                               keywords original_language  \
0     [{"id": 1463, "name": "culture clash"}, {"id":...                en
1     [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2     [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3     [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4     [{"id": 818, "name": "based on novel"}, {"id":...                en
...                                                 ...               ...
4798  [{"id": 5616, "name": "united states\u2013mexi...                es
4799                                                 []                en
4800  [{"id": 248, "name": "date"}, {"id": 699, "nam...                en
4801                                                 []                en
4802  [{"id": 1523, "name": "obsession"}, {"id": 224...                en

                                original_title  \
0                                       Avatar
1     Pirates of the Caribbean: At World's End
2                                      Spectre
3                        The Dark Knight Rises
4                                  John Carter
...                                        ...
4798                               El Mariachi
4799                                 Newlyweds
4800                 Signed, Sealed, Delivered
4801                          Shanghai Calling
4802                         My Date with Drew

                                               overview  popularity  \
0     In the 22nd century, a paraplegic Marine is di...  150.437577
1     Captain Barbossa, long believed to be dead, ha...  139.082615
2     A cryptic message from Bond’s past sends him o...  107.376788
3     Following the death of District Attorney Harve...  112.312950
4     John Carter is a war-weary, former military ca...   43.926995
...                                                 ...         ...
4798  El Mariachi just wants to play his guitar and ...   14.269792
4799  A newlywed couple's honeymoon is upended by th...    0.642552
4800  "Signed, Sealed, Delivered" introduces a dedic...    1.444476
4801  When ambitious New York attorney Sam is sent t...    0.857008
4802  Ever since the second grade when he first saw ...    1.929883

                                   production_companies  \
0     [{"name": "Ingenious Film Partners", "id": 289...
1     [{"name": "Walt Disney Pictures", "id": 2}, {"...
2     [{"name": "Columbia Pictures", "id": 5}, {"nam...
3     [{"name": "Legendary Pictures", "id": 923}, {"...
4           [{"name": "Walt Disney Pictures", "id": 2}]
...                                                 ...
4798           [{"name": "Columbia Pictures", "id": 5}]
4799                                                 []
4800  [{"name": "Front Street Pictures", "id": 3958}...
4801                                                 []
4802  [{"name": "rusty bear entertainment", "id": 87...

                                   production_countries release_date  \
0     [{"iso_3166_1": "US", "name": "United States o...   2009-12-10
1     [{"iso_3166_1": "US", "name": "United States o...   2007-05-19
2     [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26
3     [{"iso_3166_1": "US", "name": "United States o...   2012-07-16
4     [{"iso_3166_1": "US", "name": "United States o...   2012-03-07
...                                                 ...          ...
4798  [{"iso_3166_1": "MX", "name": "Mexico"}, {"iso...   1992-09-04
4799                                                 []   2011-12-26
4800  [{"iso_3166_1": "US", "name": "United States o...   2013-10-13
4801  [{"iso_3166_1": "US", "name": "United States o...   2012-05-03
4802  [{"iso_3166_1": "US", "name": "United States o...   2005-08-05

         revenue  runtime                                   spoken_languages  \
0     2787965087    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
1      961000000    169.0           [{"iso_639_1": "en", "name": "English"}]
2      880674609    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...
3     1084939099    165.0           [{"iso_639_1": "en", "name": "English"}]
4      284139100    132.0           [{"iso_639_1": "en", "name": "English"}]
...          ...      ...                                                ...
4798     2040920     81.0      [{"iso_639_1": "es", "name": "Espa\u00f1ol"}]
4799           0     85.0                                                 []
4800           0    120.0           [{"iso_639_1": "en", "name": "English"}]
4801           0     98.0           [{"iso_639_1": "en", "name": "English"}]
4802           0     90.0           [{"iso_639_1": "en", "name": "English"}]

        status                                            tagline  \
0     Released                        Enter the World of Pandora.
1     Released     At the end of the world, the adventure begins.
2     Released                              A Plan No One Escapes
3     Released                                    The Legend Ends
4     Released               Lost in our world, found in another.
...        ...                                                ...
4798  Released  He didn't come looking for trouble, but troubl...
4799  Released  A newlywed couple's honeymoon is upended by th...
4800  Released                                                NaN
4801  Released                           A New Yorker in Shanghai
4802  Released                                                NaN

                                         title  vote_average  vote_count
0                                       Avatar           7.2       11800
1     Pirates of the Caribbean: At World's End           6.9        4500
2                                      Spectre           6.3        4466
3                        The Dark Knight Rises           7.6        9106
4                                  John Carter           6.1        2124
...                                        ...           ...         ...
4798                               El Mariachi           6.6         238
4799                                 Newlyweds           5.9           5
4800                 Signed, Sealed, Delivered           7.0           6
4801                          Shanghai Calling           5.7           7
4802                         My Date with Drew           6.3          16

[4803 rows x 20 columns]>

movies_data=pd.read_csv("tmdb_5000_movies.csv")

In [195]:
movies_data=pd.read_csv("tmdb_5000_movies.csv", index_col='original_title')

In [196]:
movies_data

,budget,genres,homepage,id,keywords,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
original_title,,,,,,,,,,,,,,,,,,,
Avatar,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
Pirates of the Caribbean: At World's End,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
Spectre,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
The Dark Knight Rises,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
John Carter,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
El Mariachi,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
Newlyweds,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
"Signed, Sealed, Delivered",0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
Shanghai Calling,0,[],http://shanghaicalling.com/,126186,[],en,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
My Date with Drew,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [236]:
anime=['A','b','bha','f','asdfsa','Asad']

In [239]:
series=pd.Series(anime, name='Genre')

In [240]:
series

0         A
1         b
2       bha
3         f
4    asdfsa
5      Asad
Name: Genre, dtype: object

In [251]:
genre=['name1','name2','name3','name4','name5','name6']

In [252]:
sereies2=pd.Series(anime, index=genre, name='practice')

In [253]:
sereies2

name1         A
name2         b
name3       bha
name4         f
name5    asdfsa
name6      Asad
Name: practice, dtype: object

In [322]:
movies_data.index.get_loc('Spectre')

2

In [328]:
movies_data.index.is_unique

False

In [329]:
xyz=pd.index(['A','b','c','d'])

AttributeError: module 'pandas' has no attribute 'index'