In [3]:
import pandas as pd

In [4]:
#mdf= pd.read_csv("tmdb_5000_movies.csv")
#mdf= pd.read_csv("tmdb_5000_movies.csv",usecols=['keywords','homepage']) #If you want to read filw with specific columns

In [5]:
mdf= pd.read_csv("tmdb_5000_movies.csv",usecols=[0,1,2,3,4]) # specifying columns index to show
mdf

,budget,genres,homepage,id,keywords
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."
...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi..."
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[]
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam..."
4801,0,[],http://shanghaicalling.com/,126186,[]
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224..."

In [6]:
mdf.shape #columns and rows
mdf.size #number of elements
mdf.columns #shows clumns
mdf.index #index range with step
mdf.head(4)
mdf.tail(6)
mdf.info   #give overall info of movies

<bound method DataFrame.info of          budget                                             genres  \
0     237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1     300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2     245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3     250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4     260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
...         ...                                                ...
4798     220000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799       9000  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800          0  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801          0                                                 []
4802          0                [{"id": 99, "name": "Documentary"}]

                                               homepage      id  \
0                           http://www.avatarmovie.com/   19995
1          http://disney.go.com/disneypictures/pirates/     285
2           http://www.sonypictures.com/movies/spectre/  206647
3                    http://www.thedarkknightrises.com/   49026
4                  http://movies.disney.com/john-carter   49529
...                                                 ...     ...
4798                                                NaN    9367
4799                                                NaN   72766
4800  http://www.hallmarkchannel.com/signedsealeddel...  231617
4801                        http://shanghaicalling.com/  126186
4802                                                NaN   25975

                                               keywords
0     [{"id": 1463, "name": "culture clash"}, {"id":...
1     [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2     [{"id": 470, "name": "spy"}, {"id": 818, "name...
3     [{"id": 849, "name": "dc comics"}, {"id": 853,...
4     [{"id": 818, "name": "based on novel"}, {"id":...
...                                                 ...
4798  [{"id": 5616, "name": "united states\u2013mexi...
4799                                                 []
4800  [{"id": 248, "name": "date"}, {"id": 699, "nam...
4801                                                 []
4802  [{"id": 1523, "name": "obsession"}, {"id": 224...

[4803 rows x 5 columns]>

In [524]:
#####columns selection#########
mdf.head(7)     #reading 6 rows
#too many columns
#simply write name of columun to select single or list
mdf.columns
mdf['homepage'] #for single
mdf[['homepage','budget','id']]  #pass list to select specific column
mdf[['homepage','budget','id']].head(5)

                                       homepage     budget      id
0                   http://www.avatarmovie.com/  237000000   19995
1  http://disney.go.com/disneypictures/pirates/  300000000     285
2   http://www.sonypictures.com/movies/spectre/  245000000  206647
3            http://www.thedarkknightrises.com/  250000000   49026
4          http://movies.disney.com/john-carter  260000000   49529

In [7]:
#####Tows selection#########
#For row selection,simnply pass number of rows in [] like you used to do in list
mdf[3:5]
mdf['genres']
mdf.genres
mdf[['genres','homepage']][0:4]

,genres,homepage
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/

In [548]:
##Row selection from loc
##using loc ,u can select rows and columns using matrix/list/typle like operation
mdf.loc[3:7][['original_title','genres','homepage','budget']]
##loc is also useful because if index is changed, you can use it .just specify rows 
mdf=pd.read_csv("tmdb_5000_movies.csv", index_col='original_title') # making another column as index

KeyError: "['original_title'] not in index"

In [509]:
mdf

,budget,genres,homepage,id,keywords,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
original_title,,,,,,,,,,,,,,,,,,,
Avatar,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
Pirates of the Caribbean: At World's End,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
Spectre,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
The Dark Knight Rises,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
John Carter,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
El Mariachi,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
Newlyweds,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
"Signed, Sealed, Delivered",0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
Shanghai Calling,0,[],http://shanghaicalling.com/,126186,[],en,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
My Date with Drew,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [2]:
mdf.loc[['Shanghai Calling','My Date with Drew','Spectre']] #Selecting multiple row with different index
mdf.loc[['Shanghai Calling','My Date with Drew','Spectre']][['genres','homepage','popularity','homepage']]

NameError: name 'mdf' is not defined

In [505]:
mdf= pd.read_csv("tmdb_5000_movies.csv") # making another column as index

In [87]:
mdf

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [10]:
#Selection rows using ilock
mdf.iloc[0]    #YOu cannot do this in loc.in loc, you must specify range
mdf.iloc[4:7]   #tHIS IS SIMILAR TO LOC
mdf.iloc[[0,3,5,6]]   #similar to lock
mdf.iloc[4:9,2:5]  #This is similar to numpy .Therefore it is best,
#but you cannot write namge of column.only integer .fOR that you need to use loc
mdf.loc[4:9][["homepage",'genres']]

2    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
Name: genres, dtype: object

In [127]:
#We will learn how to deal with numeraical series.one column with numerical values
m=mdf['budget']
type(m) 
m.shape
m.size

m.dtype
m.head(5) #Top 5 rows or values
m.tail(4)
#m.info you cannot use this method to series. Similar method is describe
m.describe

<bound method NDFrame.describe of 0       237000000
1       300000000
2       245000000
3       250000000
4       260000000
          ...
4798       220000
4799         9000
4800            0
4801            0
4802            0
Name: budget, Length: 4803, dtype: int64>

In [143]:
m.count()
m.sum()
m.min()
m.max()
m.median()
m.std()
m.unique()  #Only with Panda Series. Printing all unique values.
m.unique() #counting total number of unique values.It is also counting Nan
m.nunique(dropna='Flase') #Not cocunting unique values

436

In [152]:

m.value_counts() #Only with series. grouping shows .grouping values on ussing dfferen interval
m.value_counts(ascending=True, bins=8 ) #Showing 8 bins size.8 interval

(285000000.0, 332500000.0]       1
(332500000.0, 380000000.0]       1
(237500000.0, 285000000.0]      15
(190000000.0, 237500000.0]      32
(142500000.0, 190000000.0]     105
(95000000.0, 142500000.0]      170
(47500000.0, 95000000.0]       684
(-380000.001, 47500000.0]     3795
Name: budget, dtype: int64

In [213]:
#Sorting series
mdf= pd.read_csv("tmdb_5000_movies.csv", usecols=['original_title'], squeeze=True) #opening file ,select 1 colm,and covnert to series
mdf
mdf.sort_index() #sorted accord to index.Only showing sorting.For that inplace paramter
mdf.sort_index(ascending=False)  #desceinding
mdf.sort_values(ascending=False)  #desceindingm
mdf

<bound method Series.nlargest of 0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4798                                 El Mariachi
4799                                   Newlyweds
4800                   Signed, Sealed, Delivered
4801                            Shanghai Calling
4802                           My Date with Drew
Name: original_title, Length: 4803, dtype: object>

In [228]:
mdf= pd.read_csv("tmdb_5000_movies.csv", usecols=['budget'], squeeze=True) #opening file ,select 1 colm,and covnert to series

mdf.nsmallest(n=6)  #Top 5 sammle values
mdf.nlargest()
mdf.idxmin()  #giving index of min value.Can be used with dtype other than integer
mdf.idxmax()

17

In [254]:
####index ######
mdf= pd.read_csv("tmdb_5000_movies.csv", index_col='original_title') #changing index from dafualt to original title
#if you want ot reset index
mdf.reset_index(inplace=True)
mdf
#To change index after reading, use following
mdf.set_index('original_title', inplace=True)

pandas.core.indexes.base.Index

In [290]:
######Index methods ########
#######All below metthod or attributes can be used with both row and columns index
#Both are raw andn column index object
type(mdf.index)   #Both are index .This is raw index
type(mdf.columns) #Both are index .This is columns index
#You can use slicing with raw and columns index same as lst
mdf.index[3:9]# index between 3.9
mdf.index[::2] #index with step size two 
mdf.index[::-1] # reverswe indes
mdf.index[-2:]  # last rows index
#All above can be used with column index
#To find the location of particular column or raw index
mdf.index.get_loc('Spectre')
mdf.index.is_unique
#To creat custom index
pi=pd.Index(['Q','F','C','P'])
type(m)
#To creat custom series
n=pd.Series([1,4,5,6])
type(n)
#Assign index to series
m=pd.Series([1,4,5,6], index=pi)

Q    1
F    4
C    5
P    6
dtype: int64

In [291]:
df=pd.read_csv("master.csv")

In [457]:
##filtering data


df.country.unique()
df.country
##Here first your are selection the columns and applying condition
##Other method of sleection columns 
# df['coutouryy']=='Israel' This is used when column name have spaces between them
df.country=='Israel' #boolean output====df['coutounry']=='Israel'
type(df.country=='Israel') 
df.country=='Israel' 
#If you want data ,pass it to originnal data frame
df[df.country=='Israel']
#What if you want multiple condition
#Then writing multple condition and then pass boolean of condition of original dataframe
c1=df.country=='Israel' #1st condition,output is boolean
c2=df.sex=='male'       #2nd condition,output is boolean
c3=df.year==2015      #3rd condition,output is boolean
c4=df.year==2014      #4th condition,output is boolean
type(c1)
c1.dtype
#Pass it to original
df[c1 & c2 &(c3|c4)]
#If you do want multiple columns, than use loc[to sepicy columns], ot ilock[, range]
newdf=df.loc[c1 & c2 &(c3|c4)][['country','sex','age','year','suicides_no']]
newdf.sum().suicides_no
# What if i want to get above data but sorted according to age with index original

563

In [488]:
df.year>-201
c1=df.year<=2010
c3=df.year>=1990
df.loc[c1 & c3]
## or you can use between
c4=df.year.between(1990,2010)
df.loc[c4]
#IF YOU WANT only two year , use
c4=df.year.isin([2004,2010])
df.loc[c4]`#showing only  2004 and 2010 data
df.loc[~~c4]

          country     sex          age  year  suicides_no
0         Albania    male  15-24 years  1987           21
1         Albania    male  35-54 years  1987           16
2         Albania  female  15-24 years  1987           14
3         Albania    male    75+ years  1987            1
4         Albania    male  25-34 years  1987            9
...           ...     ...          ...   ...          ...
27815  Uzbekistan  female  35-54 years  2014          107
27816  Uzbekistan  female    75+ years  2014            9
27817  Uzbekistan    male   5-14 years  2014           60
27818  Uzbekistan  female   5-14 years  2014           44
27819  Uzbekistan  female  55-74 years  2014           21

[25756 rows x 5 columns]