In [26]:
import pandas as pd
m1=df.temperature.max()
m2=df.temperature
m3=pd.Series(m1)
df[m2 & m3]
#All Above statement is equal to 
df[df.temperature==df.temperature.max()] ###
#Above statement is equal to 
#df.temperature>=35 #Thats why it did not give type error 
df[['temperature','event']][df.temperature==df.temperature.max()]
df[df.temperature==df.temperature.max()][['temperature','event']]

In [213]:
#Sorting series
mdf= pd.read_csv("tmdb_5000_movies.csv", usecols=['original_title'], squeeze=True) #opening file ,select 1 colm,and covnert to series
mdf
mdf.sort_index() #sorted accord to index.Only showing sorting.For that inplace paramter
mdf.sort_index(ascending=False)  #desceinding
mdf.sort_values(ascending=False)  #desceindingm
mdf

<bound method Series.nlargest of 0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4798                                 El Mariachi
4799                                   Newlyweds
4800                   Signed, Sealed, Delivered
4801                            Shanghai Calling
4802                           My Date with Drew
Name: original_title, Length: 4803, dtype: object>

In [290]:
######Index methods ########
#######All below metthod or attributes can be used with both row and columns index
#Both are raw andn column index object
type(mdf.index)   #Both are index .This is raw index
type(mdf.columns) #Both are index .This is columns index
#You can use slicing with raw and columns index same as lst
mdf.index[3:9]# index between 3.9
mdf.index[::2] #index with step size two 
mdf.index[::-1] # reverswe indes
mdf.index[-2:]  # last rows index
#All above can be used with column index
#To find the location of particular column or raw index
mdf.index.get_loc('Spectre')
mdf.index.is_unique
#To creat custom index
pi=pd.Index(['Q','F','C','P'])
type(m)
#To creat custom series
n=pd.Series([1,4,5,6])
type(n)
#Assign index to series
m=pd.Series([1,4,5,6], index=pi)

Q    1
F    4
C    5
P    6
dtype: int64

In [291]:
df=pd.read_csv("master.csv")

In [457]:
##filtering data


df.country.unique()
df.country
##Here first your are selection the columns and applying condition
##Other method of sleection columns 
# df['coutouryy']=='Israel' This is used when column name have spaces between them
df.country=='Israel' #boolean output====df['coutounry']=='Israel'
type(df.country=='Israel') 
df.country=='Israel' 
#If you want data ,pass it to originnal data frame
df[df.country=='Israel']
#What if you want multiple condition
#Then writing multple condition and then pass boolean of condition of original dataframe
c1=df.country=='Israel' #1st condition,output is boolean
c2=df.sex=='male'       #2nd condition,output is boolean
c3=df.year==2015      #3rd condition,output is boolean
c4=df.year==2014      #4th condition,output is boolean
type(c1)
c1.dtype
#Pass it to original
df[c1 & c2 &(c3|c4)]
#If you do want multiple columns, than use loc[to sepicy columns], ot ilock[, range]
newdf=df.loc[c1 & c2 &(c3|c4)][['country','sex','age','year','suicides_no']]
newdf.sum().suicides_no
# What if i want to get above data but sorted according to age with index original

563

In [488]:
df.year>-201
c1=df.year<=2010
c3=df.year>=1990
df.loc[c1 & c3]
## or you can use between
c4=df.year.between(1990,2010)
df.loc[c4]
#IF YOU WANT only two year , use
c4=df.year.isin([2004,2010])
df.loc[c4]`#showing only  2004 and 2010 data
df.loc[~~c4]

          country     sex          age  year  suicides_no
0         Albania    male  15-24 years  1987           21
1         Albania    male  35-54 years  1987           16
2         Albania  female  15-24 years  1987           14
3         Albania    male    75+ years  1987            1
4         Albania    male  25-34 years  1987            9
...           ...     ...          ...   ...          ...
27815  Uzbekistan  female  35-54 years  2014          107
27816  Uzbekistan  female    75+ years  2014            9
27817  Uzbekistan    male   5-14 years  2014           60
27818  Uzbekistan  female   5-14 years  2014           44
27819  Uzbekistan  female  55-74 years  2014           21

[25756 rows x 5 columns]