In [1]:
import pandas as pd
import numpy as np

In [6]:


N=20

df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
})

df#reindex the DataFrame
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])

print (df_reindexed)

            A     x         y       C           D
0  2016-01-01   0.0  0.128590     Low  108.584731
1  2016-01-02   1.0  0.508241    High  111.216065
2  2016-01-03   2.0  0.473148     Low  110.698223
3  2016-01-04   3.0  0.874381  Medium  100.130279
4  2016-01-05   4.0  0.381060     Low   92.281189
5  2016-01-06   5.0  0.828011    High  105.952022
6  2016-01-07   6.0  0.111480    High   89.441698
7  2016-01-08   7.0  0.925769    High   89.054364
8  2016-01-09   8.0  0.911636  Medium   99.669582
9  2016-01-10   9.0  0.436136    High  104.261761
10 2016-01-11  10.0  0.016260  Medium  108.401690
11 2016-01-12  11.0  0.164528  Medium  107.155550
12 2016-01-13  12.0  0.985075  Medium  126.297078
13 2016-01-14  13.0  0.546910     Low   97.682890
14 2016-01-15  14.0  0.876909    High   98.769643
15 2016-01-16  15.0  0.042385     Low   84.477655
16 2016-01-17  16.0  0.027165  Medium  102.009001
17 2016-01-18  17.0  0.049079     Low   89.854214
18 2016-01-19  18.0  0.901577  Medium   93.264419
19 2016-01-20  19.0  0.363764     Low   79.628167

In [8]:
#reindex the DataFrame
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])

print (df_reindexed)

           A     C   B
0 2016-01-01   Low NaN
2 2016-01-03   Low NaN
5 2016-01-06  High NaN