In [4]:
import pandas as  pd
import numpy as np

In [8]:
df = pd.DataFrame({'A': ['bat', 'foo', 'bait'],
                   'B': ['abc', 'bar', 'xyz']})
# df.replace(to_replace=r'^ba.$', value='new', regex=True)

      A    B
0   bat  abc
1   foo  bar
2  bait  xyz

In [22]:
df.replace(to_replace=r'a-zA-z', value='new', regex=True)
df

      A    B
0   bat  abc
1   foo  bar
2  bait  xyz