In [3]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [4]:
df=pd.read_excel("housepricing.xlsx", Sheet="Book1")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
a=df.bedrooms.median()

In [6]:
df.bedrooms.fillna(3)
df.bedrooms=df.bedrooms.fillna(3)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:
reg=linear_model.LinearRegression()
df.iloc[:5,:3]
df.iloc[:5,3:5]

    price
0  550000
1  565000
2  610000
3  595000
4  760000

In [8]:
# reg.fit(df[['area','bedrooms','age']], df.price)
reg.fit(df.iloc[:5,:3], df.iloc[:5,3:5])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
reg.coef_

array([[   137.25, -26025.  ,  -6825.  ]])

In [10]:
reg.intercept_

array([383725.])

In [ ]:
reg.predict(["23232",4,"34])