In [1]:
import pandas as pd
import numpy as np

# Convesion dataframe to CSV

In [15]:

data1={
    "City":["Lahore","Karachi","Italy","Iran","India","Italy"],
    "Temp":[34,22,65,19,300,21],
   
}

df=pd.DataFrame(data1)

In [16]:
df

      City  Temp
0   Lahore    34
1  Karachi    22
2    Italy    65
3     Iran    19
4    India   300
5    Italy    21

In [17]:
#Converting dataframe to csv
df.to_csv("df2csv.csv")

In [18]:
df.to_csv("df2_csv_wo_index.csv", index=False)#IF YOU do not want to print dataframe

In [19]:
df.to_csv("df2_csv_specol.csv", index=False, columns=['Temp'])#IF YOU WANT TO ONLY print specific column

# # dataframe to excel

In [20]:
# Converting to Excel
df.to_excel("df_2_excel.xlsx", sheet_name="Converteddf", startrow=3,startcol=4 )

# converting  of  tuple & dictionary into DF

In [ ]:
# df=pd.DataFrame(dictionary)  #From dictionary
# df=pd.DataFrame(tuplename, columns=[])

# Array to Series

In [ ]:
# ser=pd.Series([0,"Invalid","Not measured"])
# type(ser)