In [5]:
import pandas as pd
import seaborn as sns

In [6]:
mdf=sns.load_dataset("tips")

In [7]:
mdf

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# df operation

In [52]:
mdf.shape #columns and rows
mdf.size#number of elements
mdf.columns #shows clumns
mdf.index #index range with step
mdf.head(4)
mdf.tail(6)
mdf.describe()  #show statistics, mean, std dav of each columns numerical
mdf.info()  #  show values, datatype, null values info of each columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.3 KB

# df & panda opertaions common

In [61]:
mdf['tip'].shape
mdf['tip'].size
mdf['tip'].head(7)
mdf['tip'].tail(7)
mdf['tip'].describe()
#mdf['tip'].info()/ Not present .  Use dtype

dtype('float64')

# Operation with series only or panda column

In [107]:
mdf['tip'].dtype
mdf['tip'].count() #total num of value in series
mdf['tip'].sum()
mdf['tip'].min()
mdf['tip'].max()
# all other min, max, sum, product
mdf['tip'].unique() #including NAN
m.nunique(dropna='Flase') #excluding NAN
mdf['tip'].value_counts() #shows unique values in column with their frequency
mdf['day'].value_counts() #shows unique values in column with their frequency
mdf['day'].value_counts(ascending=True) #shows unique values in column with their frequency
mdf['tip'].value_counts(ascending=True, bins=8) #bins only with numeric columns
mdf['tip'].idxmin()  #giving index of min value.
mdf['tip'].idxmax()
mdf['tip'].nlargest()   # # show largest to large smallest with with index #generally show top 5 or 6 sammlest
mdf['tip'].nsmallest()  # show smallest to large values with with index #generally show top 5 or 6 sammlest
mdf['tip'].nsmallest(n=10)  #Top 5 sammle values

67     1.00
92     1.00
111    1.00
236    1.00
0      1.01
215    1.10
237    1.17
75     1.25
135    1.25
235    1.25
Name: tip, dtype: float64

AttributeError: 'DataFrame' object has no attribute 'value_counts'