In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [54]:
df=pd.read_excel("Book1.xlsx",Sheet="Book1")

In [55]:
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [56]:
reg=LinearRegression()

In [57]:
reg.fit(df[["area"]],df["price"])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [58]:
reg.coef_

array([135.78767123])

In [59]:
reg.intercept_

180616.43835616432

In [60]:
reg.predict([[3000]])

array([587979.45205479])

In [61]:
# y=mx+b
y=135.787*3000 + 180616.438
print(y)

587977.438

In [62]:
data=pd.read_excel("PRICES.xlsx")
data

       area
0      2600
1      3000
2      3200
3      3600
4      4000
5      4034
6      2000
7     23249
8    343534
9     54545
10   340-34
11    23423
12      234
13      234
14    34332
15  3245234
16      245
17     4054

In [63]:
data.loc[10:10,:]=34030

In [64]:
data.loc[10:10,:]

     area
10  34030

In [65]:
prediction=reg.predict(data)

In [69]:
# data["prediction"]=reg.predict(data)
data

       area    prediction
0      2600  5.336644e+05
1      3000  5.879795e+05
2      3200  6.151370e+05
3      3600  6.694521e+05
4      4000  7.237671e+05
5      4034  7.283839e+05
6      2000  4.521918e+05
7     23249  3.337544e+06
8    343534  4.682830e+07
9     54545  7.587155e+06
10    34030  4.801471e+06
11    23423  3.361171e+06
12      234  2.123908e+05
13      234  2.123908e+05
14    34332  4.842479e+06
15  3245234  4.408434e+08
16      245  2.138844e+05
17     4054  7.310997e+05

In [70]:
data.to_csv("predicted house prices.csv")