In [72]:
import pandas as pd
import numpy as np
from  sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [73]:
df=pd.read_excel("mul.xlsx", Sheet="Book1")

In [74]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [75]:
df["bedrooms"].mean()

4.2

In [76]:
df["bedrooms"].fillna(df["bedrooms"].mean(), inplace=True)

In [77]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.2   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [78]:
reg=LinearRegression()

In [79]:
Xtrain=df.iloc[:,:3]

In [80]:
Xtrain

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.2   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [81]:
ytrain=df['price']

In [82]:
ytrain

0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [83]:
reg.fit(Xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [84]:
print(f"Slope of line is : {reg.coef_}\nItntercept of line is: {reg.intercept_}")

Slope of line is : [  116.66950551 18756.28806982 -3675.75111708]
Itntercept of line is: 231586.00639409176

In [85]:
reg.predict([[4310,4,7]])

array([783726.46958337])

In [86]:
# y=m1x+m2x=m3x=b
y=4310*116.66950551  + 4*18756.28806982  +   7*-3675.75111708 + 231586.00639409176
y

783726.4696019117