In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [3]:
df=pd.read_csv("train.csv")
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [4]:
df2=df[['KitchenQual','BldgType']]

In [5]:
df2

     KitchenQual BldgType
0             Gd     1Fam
1             TA     1Fam
2             Gd     1Fam
3             Gd     1Fam
4             Gd     1Fam
...          ...      ...
1455          TA     1Fam
1456          TA     1Fam
1457          Gd     1Fam
1458          Gd     1Fam
1459          TA     1Fam

[1460 rows x 2 columns]

In [15]:
# le=LabelEncoder()
df['BldgType'].value_counts()

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64

In [39]:
b=le.fit_transform(df2['BldgType'])

In [41]:
df2['bld_lbl_enc']=le.fit_transform(df2['BldgType'])

C:\Users\ZEESHAN123\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
df2['bld_lbl_enc'].value_counts()

0    1220
4     114
2      52
3      43
1      31
Name: bld_lbl_enc, dtype: int64

In [44]:
df2['KitchenQual'].value_counts() #since its are grade ,therefore we know the superiroty . first we will create dict

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

In [45]:
dic={"TA":2,"Gd":3,"Ex":4,"Fa":1} #creat dic according to superiority

In [53]:
df2['KitchenQual'].map(dic) #maping of actual values according to label

0       3
1       2
2       3
3       3
4       3
       ..
1455    2
1456    2
1457    3
1458    3
1459    2
Name: KitchenQual, Length: 1460, dtype: int64

In [54]:
df2['Kitchen_qual_org_enc']=df2['KitchenQual'].map(dic) #inserting the mapping into actual dataframe

C:\Users\ZEESHAN123\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
df2

     KitchenQual BldgType  bld_lbl_enc  Kitchen_qual_org_enc
0             Gd     1Fam            0                     3
1             TA     1Fam            0                     2
2             Gd     1Fam            0                     3
3             Gd     1Fam            0                     3
4             Gd     1Fam            0                     3
...          ...      ...          ...                   ...
1455          TA     1Fam            0                     2
1456          TA     1Fam            0                     2
1457          Gd     1Fam            0                     3
1458          Gd     1Fam            0                     3
1459          TA     1Fam            0                     2

[1460 rows x 4 columns]

pandas.core.series.Series